.singers {
  position: relative;
  @include adaptiv-valie("margin-bottom", 240, 50, 1);

  &::after {
    content: "";
    height: 173px;
    width: 301px;
    position: absolute;
    right: -58px;
    top: 104px;
    background-image: url("../img/icons/icons.svg#singers-decor");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    column-gap: 10px;
    row-gap: 30px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (max-width: 756px) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 40%;

    @media (max-width: 756px) {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 32px;

    &._active {
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  &__text {
    @include adaptiv-valie("margin-bottom", 80, 30, 1);
    opacity: 0;

    &._active {
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
    }
  }

  &__button {
    padding: 18px 70px 18px 34px;
    opacity: 0;

    &._active {
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
    }

    @media (max-width: 567px) {
      margin: 0 auto;
    }
  }

  &__photos {
    display: flex;
    max-width: 57%;
    flex-wrap: wrap;
    @include adaptiv-valie("column-gap", 30, 20, 1);
    @include adaptiv-valie("row-gap", 72, 40, 1);

    &._active {
      .singers__photo-wrapper:nth-child(1) {
        animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      }

      .singers__photo-wrapper:nth-child(2) {
        animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
      }

      .singers__photo-wrapper:nth-child(3) {
        animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
      }

      .singers__photo-wrapper:nth-child(4) {
        animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
      }
    }

    @media (max-width: 756px) {
      max-width: 100%;
    }
  }

  &__photo-wrapper {
    position: relative;
    opacity: 0;

    &:nth-child(1) {
      margin-bottom: -21px;
      padding-top: 51px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../img/singers/singers-1.png");
        z-index: -1;
        opacity: 0.5;
        margin-bottom: -40px;
        background-repeat: no-repeat;
        background-position: bottom;
        filter: blur(40px);
      }

      width: 54%;
    }

    &:nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../img/singers/singers-2.png");
        z-index: -1;
        opacity: 0.5;
        margin-bottom: -40px;
        background-repeat: no-repeat;
        background-position: bottom;
        filter: blur(40px);
      }

      width: 39%;
    }

    &:nth-child(3) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../img/singers/singers-3.png");
        z-index: -1;
        opacity: 0.5;
        margin-bottom: -40px;
        background-repeat: no-repeat;
        background-position: bottom;
        filter: blur(40px);
      }

      width: 39%;
    }

    &:nth-child(4) {
      margin-top: -21px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../img/singers/singers-4.png");
        z-index: -1;
        opacity: 0.5;
        margin-bottom: -40px;
        background-repeat: no-repeat;
        background-position: bottom;
        filter: blur(40px);
      }

      width: 54%;
    }
  }

  &__photo {
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
  }
}
