$red: #fc5252;
$redLight: #ffa3a3;
$blue: #381ddb;
$blueLight: #84c4ff;
$brown: #db841d;
$brownLight: #ffbe9d;
$dark: #222222;
$white: #fff;
$purple: #c00096;
$purpleLight: #ffcdcd;
$brick: #aa6550;
$greyLight: #e0e0e0;
$grey: #e0e0e0;
